rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
  function loggedIn () {
  	return request.auth.uid != null && request.auth.token.email_verified
  }
  
  function isContributor (workspaceID) {
		return request.auth.token.email in get(/databases/$(database)/documents/workspaces/$(workspaceID)).data.contributors
  }
    
  allow read, write:if loggedIn();
    
    match /workspaces {
    	allow read, write: if loggedIn();
      
    	match /{workspaceID} {
		    allow list, create: if loggedIn()
        allow read, delete, write, update: if loggedIn() && isContributor(workspaceID);
        
        match /collections/{all=**} {
        	allow read, write, create, update, delete: if loggedIn() && isContributor(workspaceID);
        }
      }
    }
  }
}